{% extends 'index.html' %}
{% load static %}

{% block title %}Search{% endblock title %}
{% block body_class %}search-page{% endblock %}
{% block nav %}
{% include "snippets/navbar.html" %}
{% endblock  %}


{% block content %}
<div class="search" id="myBodyContent">
  <div class="input-user">
    <div class="logosearch">
      <img src="{% static 'img/logo.png' %}" width="50%" alt="logo">
    </div>
    <div class="container-input">
      <div class="box">
        <form id="search-form">
          <input type="text" id="query" name="query" placeholder="Search...">
          <button type="submit" class="btn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
  </div>
<h3 class="d-flex justify-content-center align-content-center m-3">Hasil Pencarian</h3>
<div id="results" class="container">
</div>
<div class="gohome">
  <a href="{% url 'home' %}" class="btn btn-primary">Go Back  <i class="fa-solid fa-arrow-right"></i></a>
</div>
{% endblock %}
